<!DOCTYPE html>
<html lang="en">

<head>
        <!-- Tested on Chrome and Firefox Community and Firefox Developer -->
        <!-- Expect issues with IE editions below 10. Untested with Safari -->

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
                C00170460 Assignment A
        </title>

        <!-- CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap/css/bootstrap.min.css')}}">
        <style>
            h1,h2,h3,h4,h5,h6{
                color: #FFF;
            }

            p{
                color: #00CCFF;
                font-size: 20px;
            }

            #table-data{
                margin: 20px;
                color: #FFF;
            }

            #table-data thead{
                color: #00CCFF;
                text-shadow: 0px 0px 5px #00CCFF;
            }
        </style>


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<body style="background-color: #333">

<div class="container">
    <div class="jumbotron">
        <h1>Echo-cardiogram Data Set Prediction Results</h1>
        <img src= "{{ url_for('static', filename = 'img/heart.png')}}">
        <img src= "{{ url_for('static', filename = 'img/ecg.png')}}">
    </div>
</div>

<div>

<div class = "container-fluid">
    <div class = "row">
        <div class="col-12 text-center">
            <p>Infomation based off of the original data set with no training. This data is classified into two groupings:</p>
            <ul>
                <li>Alive After 1 Year of Record</li>
                <li>Deceased Within 1 Year of Record</li>
            </ul>

            <p> {{info.classifer}} </p>
            <p> {{info.regression}} </p>
        </div>
    </div>

    <div class = "row">
            <div class="col-lg-6 col-sm-6 text-center">
                <h5>Initial Data Set Results:</h5>

                <canvas id="base_chart" width="" height=""></canvas>
            </div>
            <div class="col-lg-6 col-sm-6 text-center">
                <h5>Network Predictions Show:</h5>
                <canvas id="prediction_chart" width="" height=""></canvas>
            </div>
    </div>

    <div class = "row">

        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <canvas id="predictChart" width="" height=""></canvas>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <canvas id="probabilityChart" width="1024" height="400"></canvas>
            </div>
        </div>

    </div>

    <div class = "row" id = "table-data">
        <h2>Data Results</h2>
        <p>This table shows the base results and predictions:</p>            
        <table class="table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Alive (After 1 Year)</th>
                    <th>Predicted Survival</th>
                    <th>Survival Probability</th>
                    <th>Probability Differential</th>
                </tr>
            </thead>
            <tbody>

                {% for item in probability_data %}
                    <tr>
                        <td>{{item.index}}</td>
                        
                        {% if item.base == 1 %}
                            <td>True</td>
                        {% else %}
                            <td>False</td>
                        {% endif %}

                        {% if item.prediction == 1 %}
                            <td>True</td>
                        {% else %}
                            <td>False</td>
                        {% endif %}

                        {% if item.chance > 0.45 %}
                            <td>{{item.chance}} % (Likely)</td>
                        {% else %}
                            <td>{{item.chance}} % (Unlikely)</td>
                        {% endif %}

                        <td>{{item.probability_differential}}</td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>

    <!-- Javascript -->
    
    <script src="{{ url_for('static', filename = 'lib/jquery/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename = 'bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename = 'lib/chartjs/Chart.js')}}"></script>

</body>

<script>
            var base_ratio_data = 
            [
                {
                    value: 15,
                    color:"#F7464A",
                    highlight: "#FF5A5E",
                    label: "Living After 1 Year"
                },
                {
                    value: 50,
                    color: "#000000",
                    highlight: "#5AD3D1",
                    label: "Deceased Before 1 Year"
                }
            ];

            var predicted_ratio_data = 
            [
                {
                    value: 20,
                    color:"#F7464A",
                    highlight: "#FF5A5E",
                    label: "Living After 1 Year"
                },
                {
                    value: 45,
                    color: "#000000",
                    highlight: "#5AD3D1",
                    label: "Deceased Before 1 Year"
                }
            ];

            var predictionData = 
            {
                labels: [   {% for item in predict_data %}
                                "{{item.label}}",
                            {% endfor %}
                        ],
                datasets: [
                    {
                        label: "Neural Network Predicted Dataset",
                        fillColor: "rgba(0,0,0,0.2)",
                        strokeColor: "rgba(151,187,205,1)",
                        pointColor: "rgba(151,187,205,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(151,187,205,1)",
                        data :  [   {% for item in predict_data %}
                                            {{item.value}},
                                    {% endfor %}
                                ]
                    }
                ]
            };


            var probabilityData = 
            {
                labels: [   {% for item in probability_data %}
                                "{{item.index}}",
                            {% endfor %}
                        ],
                datasets: [
                    {
                        label: "Neural Network Predicted Dataset",
                        fillColor: "rgba(0,200,240,0.2)",
                        strokeColor: "rgba(0,200,240,1)",
                        pointColor: "rgba(151,187,205,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(151,187,205,1)",
                        data :  [   {% for item in probability_data %}
                                        {{item.base}},
                                    {% endfor %}
                                ]
                    },
                    {
                        label: "Neural Network Predicted Dataset",
                        fillColor: "rgba(0,0,0,0.2)",
                        strokeColor: "rgba(151,187,205,1)",
                        pointColor: "rgba(151,187,205,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(151,187,205,1)",
                        data :  [   {% for item in probability_data %}
                                        {{item.chance}},
                                    {% endfor %}
                                ]
                    },
                    {
                        label: "Neural Network Predicted Dataset",
                        fillColor: "rgba(0,0,0,0.2)",
                        strokeColor: "rgba(151,187,205,1)",
                        pointColor: "rgba(151,187,205,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(151,187,205,1)",
                        data :  [   {% for item in probability_data %}
                                        {{item.prediction}},
                                    {% endfor %}
                                ]
                    }
                ]
            };

            var ctx = document.getElementById("base_chart").getContext("2d");
            var base_ratio = new Chart(ctx).Pie(base_ratio_data);

            var ctx = document.getElementById("prediction_chart").getContext("2d");
            var prediction_ratio = new Chart(ctx).Pie(predicted_ratio_data);

            var ctx = document.getElementById("probabilityChart").getContext("2d");
            var myLineChart = new Chart(ctx).Line(probabilityData);
        </script>
</html>